#python 
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
__pycache__/

# virtual enviornment
/.env/*
/.idea/*
.venv/

# local environment variables (keep .env.example tracked)
.env

# models
checkpoints/
/checkpoints/deepsc-AWGN/*
/checkpoints/deepsc-mi-awgn/*
/checkpoints/deepsc-mi/Rayleigh/*
/checkpoints/deepsc-Rayleigh/* 

# Mac
.DS_Store
